<h1>Advanced Search</h1>

<%= form_for @search do |f| %>
  <div class="field">
    <%= f.label :keywords %><br />
    <%= f.text_field :keywords %>
  </div>
  <div class="field">
    <%= f.label :profession_id %><br />
    <%= f.collection_select :profession_id, Profession.order(:name), :id, :name, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :degree_id %><br />
    <%= f.collection_select :degree_id, Degree.order(:name), :id, :name, include_blank: true %>
  </div>
    <div class="field">
    <%= f.label :city_id %><br />
    <%= f.collection_select :city_id, City.order(:name), :id, :name, include_blank: true %>
  </div>
    


  <div class="actions"><%= f.submit "Search" %></div>
<% end %>
